<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.vetalitet.gdsdk">

    <application>
        <activity android:name=".GDSdkActivity" />
        <activity android:name="com.vetalitet.ui.SdkActivity" />
    </application>

</manifest>